.color-picker {
  position: relative;
}

.swatch {
  padding: 2px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  cursor: pointer;
  display: inline-block;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.popover {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  margin-top: 10px;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
