.color-picker {
  display: flex;
  align-items: center;
}

.color-picker input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.color-picker input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
